.login{
    max-width: 1000px;
    width: 100%;
    margin: auto;
    display: flex;
    gap: 50px;
    &__left,
    &__right{
        flex: 1;
    }
    &__left{
        max-width: 500px;
    }
    &__right{
        max-width: 400px;
    }
    &__imagen{
        max-width: 300px;
        width: 100%;
        margin-left: -30px;
        margin-bottom: -10px;
    }
    &__descripcion{
        color: color('primario');
        font-weight: 400;
        font-size: font('25');
    }
    &__texto{
        text-align: center;
        margin-top: 20px;
    }
}


.form{
    display: flex;
    flex-direction: column;
    background: color('secundario');
    border-radius: 5px;
    padding: 20px 20px 30px 20px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    &__input{
        border: none;
        outline: inherit;
        border: 1px solid color('gris');
        border-radius: 5px;
        height: 50px;
        width: 100%;
        padding: 0 18px;
        font-size: font('17');
        margin-bottom: 20px;
        color: color('primario');
        transition: .2s all ease;
        &:focus{
            border: 2px solid color('azul');
        }
    }
    &__submit{
        border: none;
        outline: inherit;
        border-radius: 5px;
        color: color('secundario');
        background: color('azul');
        height: 50px;
        cursor: pointer;
        transition: .3s all ease;
        font-size: font('18');
        font-weight: bolder;
        &:hover{
            background: color('azul-oscuro');
        }
        &--green{
            background: color('verde');
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            font-size: font('16');
            max-width: 200px;
            padding: 0 20px;
            &:hover{
                background: color('verde-oscuro');
            }
        }
    }
    &__width{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    &__link{
        color: color('azul');
        font-size: font('15');
        padding: 20px 0 20px 0;
        border-bottom: 1px solid color('gris');
        text-decoration: none;
        text-align: center;
        font-weight: 500;
        &:hover{
            text-decoration: underline;
        }
    }
}
